.home-main {
  margin: 50px;

  .home-title {
    font-size: 30px;
    text-align: left;
  }

  .home-content {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}
